*.DS_Store
dumps/

.idea/
_query/
files/*
logs/*
.ansible

# environments
*.env
.venv/
.uv/

services/postgres/data/
services/openwebui/data/
services/semantic/synonyms.json
services/semantic/model
services/starter/build/

workflow.excalidraw
*.bak
*.todo
*__pycache__
promt.md

DOCKER_OPTIMIZATION_PLAN.md